.error-boundary {
     display: flex;
     flex-direction: column;
     gap: 30px;
     height: 100%;
     margin: 0 auto;
     padding: 20px;
     align-items: center;
     justify-content: center;

     p:first-child {
          text-align: center;
          font-size: 25px;
          font-weight: 800;
     }

     p:last-child {
          width: 100%;
          text-align: center;
          color: red
     }
}