.MuiContainer-root {

     & .MuiInputBase-input {
          width: 100px;
          font-size: 12px;
          color: #000;
          font-weight: 400;
     }

     @media (max-width: 520px) {

          &>.MuiBox-root {
               grid-template: 1fr / 190px;
               grid-auto-flow: row;

               .css-78trlr-MuiButtonBase-root-MuiIconButton-root {
                    align-self: end;
                    padding: 20px 0 0 0;
               }
          }
     }

}